.sideBar
  position absolute
  z-index 99
  display flex
  justify-content center
  width 20%
  height 100%
  background-color #421F00
  li
    display flex
    justify-content space-around
    align-items center
    width 150px
    height 30px
    p
      margin 0
